header {
    background-color: rgb(220, 191, 155);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 1;

    nav {
        display: flex;
        justify-content: space-between;
        max-width: 992px;
        margin: 0 auto;
        height: 100%;

        .nav-toggle {
            color: #502010;
            background: none;
            border: none;
            font-size: 30px;
            padding: 0 15px;
            line-height: 60px;
            cursor: pointer;
            display: none;
            z-index: 1;
        }

        .nav-menu {
            list-style: none;
            display: flex;
            align-items: center;
            padding: 0;
            margin:0;
        
            .nav-menu-item {
                font-size: 16px;
                margin: 0 10px;
                line-height: 100px;
                width: max-content;
            
                .nav-menu-link_active{
                    color: #502010;
                    font-size: 17px;
                    text-shadow: 1px 1px 1px #35160c;
                }
            
                .nav-menu-link {
                    padding: 4px 6px;
                    transition: 0.5s;
                    height: 100%;
                }
                
                .nav-link {
                    color: #8a2c17d5;
                    text-decoration: none;
                    font-weight: bold;
            
                    &:hover {
                        color: #502010;
                        font-size: 17px;
                        text-shadow: 1px 1px 1px #35160c;
                    }
                }
            }
        }
    }
}