main {
    color: rgba(242, 221, 195, 0.793) !important;
    text-align: center;
    height: 100%;

    .titulo {
        background-color: rgba(0, 0, 0, 0.553);
        font-size: 25px;
        border-radius: 5px;
    }
}