main {
    color: rgba(242, 221, 195, 0.793) !important;
    text-align: center;
    height: 100%;
    border-radius: 5px;

    .titulo {
        background-color: rgba(0, 0, 0, 0.553);
        border-radius: 5px;
        font-size: 25px;
        padding: 15px 0;
        margin: 25px 0;
    }
}

